<div class="mt-4" [formGroup] = "checkoutForm" id="slide">
    <div class="d-flex justify-content-between align-items-center">
        <h4>Adres dostawy</h4>
        <button class="btn btn-outline-success" type="button" (click)="saveUserAddress()">
            Zapisz jako domyślny
        </button>
    </div>
    <div class="row" >
        <div class="form-group">
            <form class="row g-3 needs-validation" novalidate formGroupName="addressForm">
                <div class="col-md-4" style="min-width: 200px;">
                  <label for="validationCustom01" class="form-label" >Imię</label>
                  <input type="text" class="form-control" id="validationCustom01" formControlName="firstName" required>
                  <div class="valid-feedback">
                    Looks good!
                  </div>
                </div>
                <div class="col-md-4" style="min-width: 200px;">
                  <label for="validationCustom02" class="form-label">Nazwisko</label>
                  <input type="text" class="form-control" id="validationCustom02" formControlName="lastName" required>
                  <div class="valid-feedback">
                    Looks good!
                  </div>
                </div>
                
                <div class="col-md-6" style="min-width: 200px;">
                  <label for="validationCustom03" class="form-label">Miasto</label>
                  <input type="text" class="form-control" id="validationCustom03" formControlName="city" required>
                  <div class="invalid-feedback">
                    Please provide a valid city.
                  </div>
                </div>
                <div class="col-md-6" style="min-width: 200px;">
                    <label for="validationCustom03" class="form-label">Ulica i adres</label>
                    <input type="text" class="form-control" id="validationCustom03" formControlName="street" required>
                    <div class="invalid-feedback">
                      Please provide a valid city.
                    </div>
                  </div>
               
                <div class="col-md-3">
                  <label for="validationCustom05" class="form-label">Kod pocztowy</label>
                  <input type="text" class="form-control" id="validationCustom05" formControlName="postCode" required>
                  <div class="invalid-feedback">
                    Please provide a valid zip.
                  </div>
                </div>
               
                <div class="col-12">
                  <button class="btn btn-primary float-right" style="width: 100px;" type="submit" (click)="log()" cdkStepperNext>Dalej</button>
                </div>
              </form>
        </div>
    </div>
</div>