

<header class="v-header container">
  <div class="fullscreen-video-wrap">
    <video src="https://localhost:5001/movies/timelapse.mp4" autoplay="" loop="" muted>
  </video>
  </div>
  <div class="header-overlay"></div>
  <div class="header-content text-md-center">
    <h1>Witamy w Drukarexie!</h1>
    <p>Wydrukujemy Ci wszystko! W naszym sklepie znajdziesz różne przydatne wydruki. Możesz też złożyć swoje własne zamówienie.</p>
    <a class="btn" [routerLink]='["/customorder"]'>Złóż własne zamówienie!</a>
  </div>
</header>