<div class="container-fluid">
    <div class="row">
      <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
        <div class="position-sticky pt-3">
          <ul class="nav flex-column">
            <li class="nav-item" >
              <a class="nav-link active" aria-current="page"[routerLink]='["/admin/administratordashboard"]' >
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-home"><path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path><polyline points="9 22 9 12 15 12 15 22"></polyline></svg>
                Dashboard
              </a>
            </li>
            <li class="nav-item" >
              <a class="nav-link" [routerLink]='["/admin/administratorproducts"]'>
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-file"><path d="M13 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V9z"></path><polyline points="13 2 13 9 20 9"></polyline></svg>
                Produkty
              </a>
            </li>
            <li class="nav-item" >
              <a class="nav-link" [routerLink]='["/admin/administratororders"]'>
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-shopping-cart"><circle cx="9" cy="21" r="1"></circle><circle cx="20" cy="21" r="1"></circle><path d="M1 1h4l2.68 13.39a2 2 0 0 0 2 1.61h9.72a2 2 0 0 0 2-1.61L23 6H6"></path></svg>
                Zamówienia
              </a>
            </li>
            <li class="nav-item" >
              <a class="nav-link" [routerLink]='["/admin/administratorcustomers"]'>
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-users"><path d="M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path><circle cx="9" cy="7" r="4"></circle><path d="M23 21v-2a4 4 0 0 0-3-3.87"></path><path d="M16 3.13a4 4 0 0 1 0 7.75"></path></svg>
                Klienci
              </a>
            </li>
            <li class="nav-item" >
              <a class="nav-link" [routerLink]='["/admin/administratorreports"]'>
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-bar-chart-2"><line x1="18" y1="20" x2="18" y2="10"></line><line x1="12" y1="20" x2="12" y2="4"></line><line x1="6" y1="20" x2="6" y2="14"></line></svg>
                Raporty
              </a>
            </li>
            <li class="nav-item" >
              <a class="nav-link" [routerLink]='["/admin/administratordeliveries"]'>
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-layers"><polygon points="12 2 2 7 12 12 22 7 12 2"></polygon><polyline points="2 17 12 22 22 17"></polyline><polyline points="2 12 12 17 22 12"></polyline></svg>
                Metody dostawy
              </a>
            </li>
          </ul>
          </div>
      </nav>
  
      <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4"><div class="chartjs-size-monitor"><div class="chartjs-size-monitor-expand"><div class=""></div></div><div class="chartjs-size-monitor-shrink"><div class=""></div></div></div>
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
          <h1 class="h2">Panel Administratora - Produkty</h1>
          <div class="btn-toolbar mb-2 mb-md-0">
           
          </div>
        </div>
          <h3>Dodaj nowy produkt</h3>
          <form [formGroup]="newProductForm" (ngSubmit)="onSubmit()">
            <h6 class="my-2">Typ Produktu</h6>
            <div class="form-check form-check-inline">
              <input class="form-check-input" formControlName="typeId" type="radio" name="typeId" id="inlineRadio1" value="1">
              <label class="form-check-label"  for="inlineRadio1">Gadżety</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" formControlName="typeId" type="radio" name="typeId" id="inlineRadio2" value="2">
              <label class="form-check-label" for="inlineRadio2">Akcesoria do telefonu</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" formControlName="typeId" type="radio" name="typeId" id="inlineRadio3" value="3" >
              <label class="form-check-label" for="inlineRadio3">Części zamienne</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" formControlName="typeId" type="radio" name="typeId" id="inlineRadio3" value="4" >
              <label class="form-check-label" for="inlineRadio3">Modele</label>
            </div>
  
          <div class="mb-3  mt-2">
            <label for="exampleFormControlInput1" class="form-label">Nazwa produktu</label>
            <input type="Name"  formControlName="name" class="form-control" id="exampleFormControlInput1" placeholder="Ultranowy gadżet">
          </div>

          <div class="mb-3">
            <label for="exampleFormControlInput2" class="form-label">Cena</label>
            <input formControlName="price" class="form-control" id="exampleFormControlInput2" placeholder="1000">
          </div>
         


          <div class="mb-3 ">
            <label for="exampleFormControlInput4" class="form-label">Opis</label>
            <input formControlName="description" class="form-control" id="exampleFormControlInput4" placeholder="Nowoczesny uchwyt na telefon">
          </div>
          <div class="mb-3">
            <label for="exampleFormControlInput5" class="form-label">URL zdjęcia</label>
            <input formControlName="pictureUrl" class="form-control" id="exampleFormControlInput5" placeholder="pictures/idproduktu">
          </div>
          <button type="button" class="btn btn-lg btn-success mt-4" [disabled]="newProductForm.invalid" type="submit">Dodaj nowy produkt</button>
       </form> 

       <hr>
       <h3>Usuń produkt</h3>
      
       <div class="mb-3  mt-2">
        <label for="exampleFormControlInput1" class="form-label">Wybierz produkt z listy</label>
        <div class="ng-autocomplete">
          <ng-autocomplete 
            [data]="data$ | async"
            [searchKeyword]="keyword"
            (selected)='selectEvent($event)'
            (inputChanged)='onChangeSearch($event)'
            (inputFocused)='onFocused($event)'
            [itemTemplate]="itemTemplate"
            [notFoundTemplate]="notFoundTemplate">                                 
          </ng-autocomplete>
          
          <ng-template #itemTemplate let-item>
          <a [innerHTML]="item.name"></a>
          </ng-template>
          
          <ng-template #notFoundTemplate let-notFound>
          <div [innerHTML]="notFound"></div>
          </ng-template>
          </div>
       
        <button type="button" class="btn btn-lg btn-danger mt-4" [disabled]="!productToDelete" (click) = 'deleteProductRequest()'>Usuń produkt</button>
      </div>


       


      </main>
    </div>
  </div>
  <script src="/docs/5.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/feather-icons@4.28.0/dist/feather.min.js" integrity="sha384-uO3SXW5IuS1ZpFPKugNNWqTZRRglnUJK6UAZ/gxOX80nxEkN9NcGZTftn6RzhGWE" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js" integrity="sha384-zNy6FEbO50N+Cg5wap8IKA4M/ZnLJgzc6w2NqACZaK0u0FXfOWRRJOnQtpZun8ha" crossorigin="anonymous"></script>
  <script src="dashboard.js"></script>