
ul li{
    margin-top: 2px;
    
    background: rgba(255,255,255,.4);
   
}
li:hover{
    cursor: default;
}

.headercontainer{
    width:250px;
    height: 63px;
    background-color: #343a40;
    color: lightgray;
    text-align: center;
    border-radius: 20px;
}
h5{
    position: absolute;
    margin-top: 18px;
    margin-left:45px;
}
