<div class="fillscreen">
<div class="d-flex justify-content-center mt-5">
  <img  src = "/assets/images/3dlogo.png" width="72" height="57" style="text-align: center;">
</div>

<div class="container-fluid">
  <div class="justify-content-center max-width: 500px" >
    <div class="row">
      <div class="col">
      
     </div>
   </div>
  </div>
</div>
<main class = "form-signin ">
  <div class="row justify-content-center">
<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <h1 class="h3 mb-3 fw-normal  text-center">Logowanie</h1>
    <label for="inputEmail" class="visually-hidden">
      Adres Email
    </label>
    <input formControlName="email" type="email" id="inputEmail" class="form-control  justify-content-center" placeholder="Email" required="" autofocus="" >
    <label for="inputPassword" class="visually-hidden mt-1">Hasło</label>
    <input  formControlName="password" type="password" id="inputPassword" class="form-control " placeholder="Hasło" required="">
    <div class="checkbox mb-3">
    </div>
    <button [disabled]="loginForm.invalid" class="w-100 btn btn-lg btn-primary " type="submit">Zaloguj</button>
  </form>
</div>
</main>
<p class="text-danger text-center mt-1" *ngIf="loginForm.get('email').dirty&&loginForm.get('email').invalid&&loginForm.get('password').dirty">Nieprawidłowy adres e-mail</p>
</div>